\[0\] Git/.obsidian/workspace.json
\[0\] Git/.obsidian/workspace.json
\[0\] Git/.obsidian/workspace.json
\[3\]AzureBicep/.obsidian/core-plugins.json
\[3\]AzureBicep/.obsidian/graph.json
\[3\]AzureBicep/.obsidian/workspace.json
